#logo{
background: #4aaaa5;
color: white;
padding: 30px;
height: 30px;
width: 120px;
font-size: 30px;
font-weight: 700;
margin-left: 80px;
font-family: "Georgia", 'Times New Roman', Times, serif;
float: left;
text-decoration: none;
text-align: center;

}

body{
    background: lightgray;  
}

header{
    border: solid 3px black;
}

nav{
    float: right;
    margin-top: 30px;
    margin-bottom: 40px;

}

nav a{
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid darkgray;
    color: black;
    padding: 0 30px 0 30px;



}

.contact_link{
    border: none;
}

.container{
    height: 90px;
    background: white;
}

.Main-Container{

    margin: 30px 50px 30px 50px;
    height: 750px;
    background: white;
}

.portfolioBody {
    height: 1200px;
    padding: 50px;
}

.Top-Container{
    color: #4aaaa5;
    font-size: 30px;
    padding: 10px;
    border-bottom: 3px solid darkgray;
}

.prof{
    width: 300px;
    height: 200px;
    float: left;
    margin: 10px;

}
#name{
    width: 95%;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#message {
    width: 95%;
    font-size: 20px;
    margin-top: 10px;
}

#contact-form {
    font-size: 20px;
    float: left;
    margin: 0 25px 0 25px;
    width: 95%;
}

#submit {
    height: 30px;
    font-size: 20px;
}

.work{
    margin: 40px;
    position: relative;
    width: 250px;
    float: left;
}

.work img {
    width: 100%;
    border: none;
}

.work h3 {
    position: absolute;
    text-align: center;
    padding: 15px 0 15px 0;
    bottom: 20px;
    margin-bottom: 0;
    width: 100%;
    background-color: #4aaaaf;
    color: white;
    font-size: 20px;


}
.work2{
    margin: 20px;
    position: relative;
    width: 250px;
    float: left;
    margin-right: 40px;
}

.foot{
    text-align: center;
    padding: 15px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;





}

@media screen and ( max-width: 786px) { 
    .container {
        width: 100%;

    }

    .Main-Container {
        margin: auto;
        padding: 15px;

    }

}

@media screen and ( max-width: 640px){

    nav {
        position: relative;
        text-align: center;
        background-color: white;
        padding: 30px;
        width: 100%;
        margin-bottom: 20px;
    }

    #logo{
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .portfolioBody {
        height: 2000px;
        padding: 50px;
    }
}

